.row
  .col-sm
    .numbers.
      #[span.number.num-likes= contest.numLikes] likes,
      #[span.number.num-answers= contest.numAnswers] answers,
      #[span.number.num-reads= contest.numReads] reads
  .col-sm
    .author
      | posted on #{moment(contest.createdAt).format('YYYY-MM-DD')}
      if contest.author
        | 
        | by #[a(href=`/users/${contest.author.id}`)= contest.author.name] 
br

.row
.col-sm
.host= contest.host
.field= contest.field
.applicant= contest.applicant
.startDate= contest.startDate
.endDate= contest.endDate
.personInCharge= contest.personInCharge
.contact= contest.contact
.prize= contest.prize
.content= contest.content
.tags.badges
  each tag in contest.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row

  